
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  /* background: url(header.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.sec1{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url(header.jpg);
  background-size: cover;
}

nav{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(227, 252, 0, 0.6);
  padding: 0 100px;
  box-sizing: border-box;
}

nav.brand{
  float: left;
  height: 100%;
  line-height: 70px;

}

nav.brand h2{
  margin: 0;
  padding: 0;
  color: #fff;
}

nav ul{
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li{
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb
}

hr {
	border-width: 3px;
  border-color: #f05f44;
  max-width: 65px;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-danger {
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-danger:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
